@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');





body {
    background-color: rgb(77, 78, 78);
}

.btn {
    border: none;
    padding: 10px;
    background-color: rgb(50, 100, 150);
    color: rgb(94, 228, 188);
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    transition: 
        color 250ms ease-out, 
        background-color 250ms ease-out, 
        transform 250ms ease-out, 
        box-shadow 250ms ease-out;
    cursor: pointer;


}

.btn:hover {
    background-color: rgb(92, 136, 180);
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.25);
  transform: translateY(-2px);
  color: #fff;
}

.btn-secondary {
    background-color: rgb(50, 100, 150);

}

.btn-secondary:hover {
    background-color: rgb(92, 136, 180);
}
.btn-success {
    background-color: rgb(50, 100, 150);

}
